@import url(https://fonts.googleapis.com/css?family=Kalam);

// Variables
$pinkLight: #fd79a8;
$pinkDark: #e84393;

// Mixins
@mixin tableContainer {
    display: table;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

@mixin pinkButton {
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 0;
    outline: 0;
    background: $pinkLight;
    border-radius: 15px;
}

html,
body,
#root {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ecf0f1;
}

.App {
    height: 100%;
    @include tableContainer;
}

.homepage {
    @include tableContainer;
    height: 100%;

    .homepage-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .rock-paper-scissors {
            font-size: 5em;
            color: $pinkLight;
            font-family: "Kalam", cursive;
        }

        @media only screen and (max-width: 900px) {
            .rock-paper-scissors {
                font-size: 3em;
            }
        }

        @media only screen and (max-width: 600px) {
            .rock-paper-scissors {
                font-size: 2em;
            }
        }

        @media only screen and (max-width: 400px) {
            .rock-paper-scissors {
                font-size: 1.5em;
            }
        }

        .play-button {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-family: "Kalam", cursive;
            font-size: 2em;
            padding: 1em 3em;
            border: 0;
            border-radius: 15px;
            color: #fff;
            background: $pinkLight;
            transition: all 0.5s ease;

            &:hover {
                cursor: pointer;
                transform: scale(0.95);
                transition: all 0.5s ease;
            }
        }

        @media only screen and (max-width: 900px) {
            .play-button {
                font-size: 1.5em;
                padding: 0.8em 3em;
            }
        }

        @media only screen and (max-width: 600px) {
            .play-button {
                font-size: 1.3em;
                padding: 0.5em 2.5em;
            }
        }
    }
}

.timer {
    @include pinkButton;
    top: 50%;
    transform: translateY(-50%);
    width: 15em;
    height: 5em;
}

.timer h1 {
    font-size: 2em;
    color: #fff;
    font-family: "Kalam", cursive;
}

.play-btn {
    @include pinkButton;
    top: 62%;
    color: #fff;
    font-family: "Kalam", cursive;
    font-size: 1.5em;
    width: 10em;
    height: 2em;
    transition: all 0.5s ease;
    cursor: pointer;
}

.play-btn:hover {
    transition: all 0.5s ease;
    transform: scale(1.05);
}

.player-container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8%;
    text-align: center;
}

.player-btn {
    cursor: pointer;
    position: relative;
    margin: 0 1em;
    border: 0;
    outline: 0;
    background: transparent;
    width: 13em;
    max-width: 25vw;
}

.player-btn img {
    width: 100%;
    transition: all 0.5s ease;
}

.player-btn:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.player-btn .shadowed {
    /*-webkit-filter: drop-shadow(0px 0px 10px $pinkDark);
    filter: drop-shadow(0px 0px 10px $pinkDark);*/
    -webkit-filter: drop-shadow(2px 2px 0 black)
        drop-shadow(-2px 2px 0 $pinkDark) drop-shadow(2px -2px 0 $pinkDark)
        drop-shadow(-2px -2px 0 $pinkDark);

    filter: drop-shadow(2px 2px 0 $pinkDark) drop-shadow(-2px 2px 0 $pinkDark)
        drop-shadow(2px -2px 0 $pinkDark) drop-shadow(-2px -2px 0 $pinkDark);
    transition: all 0.5s ease;
}

.disabled {
    cursor: not-allowed !important;
}

.enemy-container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 8%;
    text-align: center;
}

.enemy-btn {
    cursor: default;
    margin: 0 5em;
    border: 0;
    outline: 0;
    background: transparent;
    width: 13em;
    max-width: 40vw;
}

.enemy-btn img {
    width: 100%;
}
